.Logo {
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 10px;
    h1 {
        display: inline-block;
        font-family: 'Anton', sans-serif;
        cursor: pointer;
        span {
            color: red;
        }
    }
}