.Movie {
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgrey;
    @include xl {
        flex-direction: column;
    }
    @include lg {
        flex-direction: row;
    }
    .movie-wrapper {
        width: 50%;
        height: 8rem;
        position: relative;
        @include xl {
            width: 100%;
            height: 180px;
        }
        @include lg {
            width: 46%;
            height: 140px;
        }
        .movie-player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
    .movie-description-wrapper {
        width: 50%;
        height: 4rem;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        @include xl {
            width: 100%;
            height: 80px;
        }
        h3 {
            margin-bottom: 5px;
            cursor: pointer;
            @include xl {
                font-size: 17px;
            }
        }
        p {
            cursor: pointer;
            @include xl {
                font-size: 14px;
            }
        }
    }
}