.Mp4Player-and-Comments-container {
    width: 66%;
    @include lg {
        width: 100%;
    }
    .Mp4Player {
        width: 100%;
        height: 33rem;
        @include xl {
            height: 412px;
        }
        @include lg {
            height: 462px;
        }
        @include xs {
            height: 258px;
        }
        .react-player-wrapper {
            height: 100%;
            position: relative;
            .react-player {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
    .nowPlaying-title {
        h1 {
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        h4 {
            font-weight: 100;
        }
    }
}
