* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$xl: 1240px;

@mixin xl {
    @media (max-width: #{$xl}) {
        @content;
    }
}

$lg: 950px;

@mixin lg {
    @media (max-width: #{$lg}) {
        @content;
    }
}

$md: 470px;

@mixin md {
    @media (max-width: #{$md}) {
        @content;
    }
}
