* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$xl: 1240px;

@mixin xl {
    @media (max-width: #{$xl}) {
        @content;
    }
}

$lg: 950px;

@mixin lg {
    @media (max-width: #{$lg}) {
        @content;
    }
}

$xs: 470px;

@mixin xs {
    @media (max-width: #{$xs}) {
        @content;
    }
}
